{% extends 'main/layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

  <div class="button-wrapper">
    <ul>
    <a href="{% url 'create' %}"><button class="btn btn-secondary btn-lg btn-block"><i class="fas fa-plus-circle"></i>Добавить отзыв</button></a>
        </ul>
    </div>

<div class="features">


<p class="p1">
    <span style='color: #FA8072'>P</span>
    <span style='color: #98FB98'>a</span>
    <span style='color: #FFB6C1'>n</span>
    <span style='color: #FFFF00'>e</span>
    <span style='color: #DA70D6'>l</span>
    <span style='color: #FFFF00'>k</span>
    <span style='color: #FA8072'>a</span>
</p>




    <p class="p-index1">Представьте удивительный мир, где время перестает иметь значение. Встречайте игру, которая поможет насладиться моментом полностью. Простота и звуковое сопровождение заполняют ваше восприятие и погружают в мир, где можно  полностью расслабиться. Погрузитесь в игровое волшебство, скачивайте сейчас и наслаждайтесь этой удивительной игровой гармонией.</p>
    <div class="col text-center">
        <button class="btn btn-secondary btn-lg btn-info"> Скачать игру</button>
    </div>





    
</div>



{% endblock %}