{% extends 'main/layout.html' %}


{% block title %}Ссылки{% endblock %}


{% block content %}

<h1 class="version-one">Ссылки на разработчиков</h1>

<div class="div-link1">

<p class="p-link1">

  <a href="https://vk.com/id235343386">Турченков Александр </a></p>
    <p class="p-link1">
     <a href="https://vk.com/tropykokee">Кузьмина Елизавета </a></p>
    <p class="p-link1">
     <a href="https://vk.com/just_debik">Прокопенков Артём </a></p>
    <p class="p-link1">
     <a href="https://vk.com/fucknobaldezh1219">Семёнов Владислав </a></p>
    <p class="p-link1">
     <a href="https://vk.com/coochie_scout">Катков Сергей </a></p>



</p>
</div>




<!--<h1 class="version-two">Ссылки на контент</h1>-->
{% endblock %}
